.aider*
.vscode
build
docs/src/authors.md
docs/src/changelog.md
docs/src/code_of_conduct.md
docs/src/contributing.md
docs/src/examples/results
docs/src/index.md
docs/src/license.md
LocalPreferences.toml
Manifest.toml
*.code-workspace
*.cov
*.h5
