Felix Jochum <jochum@iau.uni-frankfurt.de> <fjochum@iau.uni-frankfurt.de>
Felix Jochum <jochum@iau.uni-frankfurt.de> <s5991044@stud.uni-frankfurt.de>
Irmgard Knop <knop@iau.uni-frankfurt.de> <irmgard.knop@fau.de>
Irmgard Knop <knop@iau.uni-frankfurt.de> <knop@iau.uni-frankfurt.de>
Irmgard Knop <knop@iau.uni-frankfurt.de> <knop@login01.cm.cluster>
Irmgard Knop <knop@iau.uni-frankfurt.de> <knop@login02.cm.cluster>
Irmgard Knop <knop@iau.uni-frankfurt.de> <b382140@levante3.lvt.dkrz.de>
Irmgard Knop <knop@iau.uni-frankfurt.de> <irmgard.knop@gmail.com>
Irmgard Knop <knop@iau.uni-frankfurt.de> <s9467794@stud.uni-frankfurt.de>
Georg Sebastian Voelker <voelker@iau.uni-frankfurt.de>
Georg Sebastian Voelker <voelker@iau.uni-frankfurt.de> <voelker@iau.uni-frenkfurt.de>
Georg Sebastian Voelker <voelker@iau.uni-frankfurt.de> <voelker@mailbox.org>
Georg Sebastian Voelker <voelker@iau.uni-frankfurt.de> <voelker@login01.cm.cluster>
Stamen Dolaptchiev <dolaptchiev@iau.uni-frankfurt.de> <dolaptch@iau.uni-frankfurt.de>
Stamen Dolaptchiev <dolaptchiev@iau.uni-frankfurt.de> <dolaptchiev@login01.cm.cluster>
Young-Ha Kim <kim@iau.uni-frankfurt.de>
Young-Ha Kim <kim@iau.uni-frankfurt.de> <youngha.kim0830@gmail.com>
Fabienne Schmid <schmid@iau.uni-frankfurt.de> <schmid@login02.cm.cluster>
Gergely Boeloeni <boeloeni@iau.uni-frankfurt.de> <boeloeni@iau.uni.frankfurt.de>
Marco Artiano <57838732+MarcoArtiano@users.noreply.github.com> <artianomarco97@gmail.com>
Jonas Rothermel <j.rothermel@sinabis-analytics.com> <j.rothermel@stud.uni-frankfurt.de>
Hendrik Ranocha <mail@ranocha.de> <ranocha@users.noreply.github.com>
